.container {
  background-color: #ffd569;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.cardContainer {
  background-color: #ffffff;
  width: 80%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

.mainHeading {
  font-size: 48px;
  font-family: 'Roboto';
}

.color {
  color: #ffd569;
}

.image {
  height: 300px;
  width: 300px;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button{
  background-color: #007bff;
  color: #ffffff;
  height: 36px;
  width: 120px;
  border: 0px solid transparent;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .mainHeading{
    font-size: 20px;
  }
  .image{
    height: 150px;
    width: 150px;
  }
  .bottomContainer{
    display: flex;
    flex-direction: column;
  }
  .button{
    height: 24px;
    padding: 5px;
    width: 80px;
    font-size: 10px;
  }
}